{{ define "discord.default.message" }}
**Alert:** {{ .CommonLabels.alertname }}
**Severity:** {{ .CommonLabels.severity }}
**Instance:** {{ .CommonLabels.instance }}
**Description:** {{ .Annotations.description }}

[View in Grafana](http://localhost:4000/d/cadvisor-exporter?var-instance={{ .CommonLabels.instance }})
{{ end }}